@use "../0-abstracts/media" as m;

body {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,auto);

    header {
        grid-row: 1/2;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        .headertop{
            margin: 2rem 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            img {
                width: 7rem;
                height: 1.2rem;
            }
        }
        .callactionheader {
            padding: 2rem;
            max-width: 400px;
            margin: auto;
            img {
                padding: 2rem 0;
            }
    }

    }
    main {
        grid-row: 2/3;
        grid-column: 1/2;
        max-width: 400px;
        margin: 0 auto;
    }
    .callactionbottom-backgound1-2 {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .callactionbottom {
        grid-row: 3/5;
        grid-column: 1/2;
    }
    .callactionbottom-backgound2-2 {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    footer {
        grid-row: 5/6;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        .logobottom {
            width: 400px;
            Margin: auto;
        }
        .footer {
            max-width: 400px;
            margin: auto;
            .company {
                .companyitem {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                }
            }
            .social {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
        .copyright {
            max-width: 400px;
            margin: auto;
        }
        padding-bottom: 5rem;
    }
}


@include m.for-desktop-up (1000px) {  

    body {
        header {

            .callactionheader {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 2rem;
                max-width: 1000px;
                img {
                    max-width: 50%;
                }
            }
        }
        main {
            max-width: 900px;
        }
        .callactionbottom {
            width: 600px;
            margin: auto;
        }
        footer {
            .logobottom {
                width: 1000px;
            }
            .footer {
                max-width: 1000px;
                display: flex;
                flex-direction: row;
                align-items: baseline;
                .company {
                    flex-basis: 45%;
                }
                nav {
                    flex-basis: 35%;
                    display: inline-block;
                    ul {
                        display: grid;
                        grid-template-columns: repeat(2,1fr)
                    }
                }
                .social {
                    flex-basis: 20%;
                }
            }
            .copyright {
                max-width: 80%;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                p {
                    margin: 3rem;
                }
            }
        }
    }
}

@include m.stop-top-overflow (900px,550px) {
    .container {
        top: 0;
        left: 50%;
        transform: translate( -50%,0);
    }
}